body, html {
    height: 100%;
    margin: 0;
    font-family: ReggaeOne, Arial;
    user-select: none;
}

figure {
    margin: 0;
}

h1 {
    padding-bottom: 5px;
}

.parallax1,
.parallax2,
.parallax3 {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.parallax1 {
    background-image: url("./src/img/unohana1.jpg");
    position: relative;
}

.parallax2 {
    background-image: url("./src/img/unohana2.jpg");
    position: relative;
}

.parallax3 {
    background-image: url("./src/img/unohana3.jpg");
    position: relative;
}

@font-face {
    font-family: badora;
    src: url("./src/font/badora.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("./src/font/Poppins.ttf");
}

@font-face {
    font-family: ReggaeOne;
    src: url("./src/font/ReggaeOne.ttf");
}

@media only screen and (max-device-width: 999px) {
    /*
    .parallax1,
    .parallax2,
    .parallax3,
    .parallax4 {
        background-attachment: scroll;
    }
    */
}

.background-video {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }