@font-face {
  font-family: badora;
  src: url("/RELOAD/font/badora.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("/RELOAD/font/Poppins.ttf");
}

@font-face {
  font-family: ReggaeOne;
  src: url("/RELOAD/font/ReggaeOne.ttf");
}