@font-face {
  font-family: badora;
  src: url("/font/badora.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("/font/Poppins.ttf");
}

@font-face {
  font-family: ReggaeOne;
  src: url("/font/ReggaeOne.ttf");
}