.box2 {
    height:260px;
    background-image: url("images/mate.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box2-wrap {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.card2 {
    width: 420px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0px 0px 20px white;
    overflow: hidden;
    background-color: black;
    z-index: 1;
}

.text2 {
    color: #fff;
    text-shadow: 0px 0px 5px yellow, 0px -5px 5px red;
    text-align: center;
    margin: 0;
}

.logo2 {
    width: 100px;
    object-fit: cover;
    object-position: center;
}

.gif1 {
    display: flex;
    position: absolute;
    bottom: 0%;
    z-index: 100;
}

.aqua {
    width: 200px;
}

.gif2 {
    display: flex;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 100;
}

.sasha {
    width: 200px;
}

.picachu {
    width: 150px;
}

marquee {
    position: absolute;
    bottom: 0;
}

@media (max-width: 500px) {
    .box2-wrap {
        padding-top: 50px;
    }

    .box2 {
        height: 200px;
    }

    .card2 {
        width: 350px;
        grid-template-columns: 80px 1fr;
    }
    
    .text2 {
        font-size: 14px;
    }

    .logo2 {
        width: 80px;
    }

    marquee {
        z-index: 1000;
    }
}